noderedflows.json
[{"id":"c112f7a7.209208","type":"tab","label":"Child Tracker","disabled":true,"info":""},{"id":"4701a25.6668f5c","type":"geofence","z":"c112f7a7.209208","name":"","mode":"circle","inside":"both","rad":73.10235325844981,"points":[],"centre":{"latitude":17.42251361943091,"longitude":-281.4540410041809},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":260,"y":260,"wires":[["a59e89e9.1c85a8"]]},{"id":"2ee1eff6.e79ff","type":"ui_worldmap","z":"c112f7a7.209208","group":"d5b4faa3.7da208","order":1,"width":0,"height":0,"name":"","lat":"17.4226372","lon":"78.5456505","zoom":"16","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":480,"y":200,"wires":[]},{"id":"4d389e1b.02809","type":"debug","z":"c112f7a7.209208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"8578d536.fe9f88","type":"ibmiot in","z":"c112f7a7.209208","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":120,"wires":[["2fb04439.a83bcc"]]},{"id":"2fb04439.a83bcc","type":"function","z":"c112f7a7.209208","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["3f8f34e9.569c8c","3faa193a.7baf96"]]},{"id":"a59e89e9.1c85a8","type":"function","z":"c112f7a7.209208","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":320,"wires":[["4909347f.b97dac"]]},{"id":"b69c5f2.21376a","type":"switch","z":"c112f7a7.209208","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":400,"wires":[["56d729cf.b458c8","211314ee.4a12bc"],["70cc75b1.bd32fc"]]},{"id":"56d729cf.b458c8","type":"function","z":"c112f7a7.209208","name":"","func":"msg.payload=\"Person is not in that area\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["4d389e1b.02809","ac427f03.f9c35","cd2c331e.f0ab5"]]},{"id":"ac427f03.f9c35","type":"ui_toast","z":"c112f7a7.209208","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":570,"y":380,"wires":[[]]},{"id":"2786095f.ac2ba6","type":"cloudant out","z":"c112f7a7.209208","name":"","cloudant":"","database":"child","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":550,"y":420,"wires":[]},{"id":"211314ee.4a12bc","type":"function","z":"c112f7a7.209208","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["2786095f.ac2ba6","eac2edd1.2b137"]]},{"id":"70cc75b1.bd32fc","type":"function","z":"c112f7a7.209208","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["eac2edd1.2b137"]]},{"id":"4909347f.b97dac","type":"rbe","z":"c112f7a7.209208","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":320,"wires":[["b69c5f2.21376a"]]},{"id":"3faa193a.7baf96","type":"function","z":"c112f7a7.209208","name":"","func":"msg.payload={\n    'name':global.get('name'),\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["4701a25.6668f5c","2ee1eff6.e79ff"]]},{"id":"eac2edd1.2b137","type":"debug","z":"c112f7a7.209208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":460,"wires":[]},{"id":"3f8f34e9.569c8c","type":"debug","z":"c112f7a7.209208","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"cd2c331e.f0ab5","type":"http request","z":"c112f7a7.209208","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gNYhnkTEm37FPDp26SvbjrQ5ysUw9Cl0ecaABXduZH1Gx8ztqIhIXaYnVLO7ps1P8KvtiN9BCDHR5ruJ&route=q&message={{{payload}}}&language=english&flash=0&numbers=","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":340,"wires":[["4d389e1b.02809"]]},{"id":"d5b4faa3.7da208","type":"ui_group","name":"Map","tab":"90d779e2.ef71f8","order":1,"disp":true,"width":21,"collapse":false},{"id":"3cf31d49.482212","type":"ibmiot","name":"newapi","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"90d779e2.ef71f8","type":"ui_tab","name":"Child Tracker","icon":"dashboard","order":18,"disabled":false,"hidden":true}]